.navbar-nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

li {
    display: flex;
    justify-content: center;
    align-items: center;
}

li {
    text-align: center;
}

.languageIcon {
    display: inline-block;
    margin: 0 auto;
}

.section-subtitle {
    color: #333333;
}

.service p {
    color: #FFFFFF;
}

body {
    background-color: #ffffff;
    color: #333333;
}

.navigation {
    background-color: #444444;
}

.navigation a {
    color: #ffffff;
}

.site-footer {
    background-color: #222222;
    color: #ffffff;
}

.copyright {
    color: #cccccc;
}
